---
import { Header } from "../components/header"
console.log('zalupa');

---

<html>
  <body>
    <Header client:load/>
    <h1>Hello, World!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>